* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    overflow-x: hidden
}

.content-superior {
    background-image: url(../img/fundo-preto.jpg);
}

.navbar .navbar-brand {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #7d7c7c;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.icone {
    width: 100px;
    height: 55px;
}

.navbar .nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #7d7c7c;
}

.navbar .btn-nav {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.content-1 {
    font-size: 3.6rem;
    font-weight: bold;
}

.context-body {
    font-size: 1.7rem;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
}

#btn-content1 {
    text-align: center;
    width: 70%;
    height: 60px;
    padding-bottom: 45px;
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}
#btn-content2 {
    text-align: center;
    width: 100%;
    height: 80px;
    padding-bottom: 45px;
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    animation: fadeInUp 1s ease-in-out;
}
.cont-titulo{
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}
.cont-corpo{
    font-size: 1.9rem;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.service, .depoimentos{
    background-color: #C6AFB1;
}
.card{
    border: none;
    text-align: center;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}
.img1{
    width: 100%;
    height: 575px;
    object-fit: cover;
}
.card-title{
    margin-left: 15px;
    text-align: start;
    font-size: 2.5rem;
    margin-top: 15px;
    font-weight: bold;
}
.card-title1{
    margin-left: 15px;
    text-align: start;
    font-size: 2.3rem;
    margin-top: 15px;
    font-weight: bold;
}
.card-body{

    text-align: start;
    font-size: 1.7rem;
    
}
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out; /* Define a suavidade */
}   
.show{
    opacity: 1;
    transform: translateY(0);
}
.quem-somos{
    height: calc(100vh - 100px);
}
.content2-body{
    text-align: justify;
    font-size: 1.4rem;
}
.depoimentos h5{
    
    text-align: center;
    font-size: 2.6rem;
}
.depoimentos .cards-container{
    width: 100%;
    height: auto;
    gap: 70px;
    overflow-x: auto;
    padding-bottom: 20px;
}
.depoimentos .card{
    margin-top: 50px;
    width: 300px;
    min-width: 300px;
    overflow: hidden;
    padding: 20px;
}
.fa-star{
    color: rgb(254, 254, 27);   
}
.pessoa{
    padding-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
   
}
.depoimentos .card p{
    padding-top: 20px;
    font-size: 1.2rem;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fadeInUp{
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 567px) {
    .navbar .navbar-brand {
        font-size: 1.2rem;
    }

    #btn-content1 {
        font-size: 1.5rem;
        width: 100%;
        height: 30px;
    }
    .foto1{
        margin-bottom: 50px;
    }
    #btn-content2 {
    height: 50px;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
}
.card{
    margin-top: 15px;
}
}